
    <!-- Side navigation -->
    <div class="sidenav">

        <div class="d-grid gap-2">
            <a href="/" class="btn btn-success" type="button">Home</a>
            <a href="/costco" class="btn btn-primary" type="button">Costco</a>
            <a href="/superstore" class="btn btn-primary" type="button">Superstore</a>
            <!-- <a href="/heladeria" class="btn btn-primary" type="button">Heladeria</a>   -->
        </div>

    </div>
    <!-- ---------------------------- -->